.g-tic-victory{
  // background: white;
  font-size: 0.12rem;
  color: red;
  position: absolute;
  width: 60%;
  height: 1.3rem;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -30%;
  margin-top: -50%;
}